@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* основные стили */

html {
  height: 100%;
  width: 1283px;
  background-color: #F2F2F2;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:  #000000;
  background-color: #ffffff;
}

/* Основной стиль кнопок */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
}

/* Стили хедера и навигации */

.page-header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link-white {
  color: #ffffff;
}

/* позиционирование блока навигации */

.navigation-list {
  list-style-type: none;
  width: 600px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

/* Стили основного контента главной страницы */

/* контейнер для стики-футера */
.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
}

/* контейнер главной страницы */
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.main-hero {
  background-color: #505050;
  background-image: url("../images/bg-index-vector.svg"), url("../images/bg-index.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
}

.description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.description {
  text-align: center;
}

.description-features {
  font-size: 22px;
  line-height: 26px;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}

.features-item {
  display: flex;
}

.features-wrapper {
  width: 400px;
}

.features-image {
  display: block;
  width: 800px;
}

.features-item-lt-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-description {
  color: #333333;
}

.features-title-white {
  color: #ffffff;
}

.features-description-white {
  color: #ffffff;
}

.features-item-blue {
  background-color: #82B3D3;
}

.features-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-icon-housing {
  background-color: rgba(131, 179, 211, 0.12)
}

.features-item-icon-souvenir {
  background-color: rgba(131, 179, 211, 0.12)
}

.hotel-search {
  text-align: center;
  width: 600px;
  margin-left: 300px;
}


.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

/* Подписка и футер */

.page-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  flex-direction: column;
}

.newsletter {
  text-align: center;
}

.newsletter-bg {
  background-image: url("../images/bg-index-sub.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #505050;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-description-catalog {
  color: #333333;
}

.field {
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.footer-social {
  width: 1200px;
  display: flex;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin-left: 70px;
  min-width: 142px;
  list-style-type: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone-wrapper {
  text-align: center;
  width: 720px;
}

.footer-htmlacademy-link {
  width: 115px;
  margin-right: 70px;
}

/* каталог */

.main-inner {
  background-color: #ffffff;
}

/* внутренний хедер и фильтрация */

.index-columns {
  background-image: url("../images/bg-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #505050;
  color: #ffffff;
}

.header-inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-around;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
  width: 150px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  line-height: 23px;
}

.button-catalog-apply {
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.button-catalog-reset {
  background: none;
}

/* блок результатов поиска */

.hotel-display {
  display: flex;
}

.hotel-count,
.hotel-count-number {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-list {
  list-style-type: none;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.favorite {
  background-color: #82B3D3;
}

.favorite-added {
  background-color: #7DB54F;
}

.rating {
  font-weight: 400;
  background-color: #F2F2F2;
  color: #333333;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin-left: 70px;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-all {
  color: #000000;
  background: none;
}
