@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* основные стили */

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:  #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Основной стиль кнопок */

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756157;
  border: none;
  cursor: pointer;
}

.button:disabled {
  background-color: #E5E5E5;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Стили хедера и навигации */

.page-header {
  position: relative;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation-logo {
  position: absolute;
  margin-left: 70px;
  width: 140px;
  margin-right: 28px;
}

.navigation-logo:active {
  transform: scale(1.05);
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link:focus,
.navigation-link:hover {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-menu .navigation-link-current::after {
  display: block;
  margin: 0 auto;
  transform: translateY(21px);
  content: "";
  width: 68px;
  height: 2px;
  background-color: #756257;
}

.navigation-link-white {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin: 14px 0;
  color: #ffffff;
}

.navigation-link-white:focus,
.navigation-link-white:hover {
  color: #ffffff;
  background-color: #615048;
}

.navigation-link-white:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-search {
  background-image: url("../images/icons/header-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  padding: 22px 12px;
}

.navigation-favorite {
  position: relative;
  background-image: url("../images/icons/header-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 17px;
  padding: 22px 12px;
  margin-right: 20px;
}

.navigation-favorite-count {
  display: block;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  padding: 5px;
  color: #ffffff;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7DB54F;
  top: 14px;
  left: 17px;
}

.navigation-link-scale:active {
  transform: scale(1.05);
}

/* позиционирование блока навигации */

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0;
  margin-left: 234px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: 42px;
}

.navigation-user .navigation-link {
  min-width: 12px;
  min-height: 22px;
}

/* Стили основного контента главной страницы */

/* контейнер для стики-футера */
.main-container {
  flex-grow: 1;
}

/* контейнер главной страницы */
.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
}

.main-hero {
  padding-top: 52px;
  background-color: #505050;
  background-image: url("../images/bg-index-vector.svg"), url("../images/bg-index.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: 1200px 57px, 1200px 485px;
}

.description-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.description {
  padding: 70px 290px 25px;
  padding-bottom: 90px;
  text-align: center;
}

.description-features {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}

.features-item {
  display: flex;
}

.features-wrapper {
  position: relative;
  width: 400px;
}

.features-title-line::after {
  content: "";
  position: absolute;
  display: block;
  margin: 0 auto;
  transform: translateY(30px) translateX(60px);
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.features-title-white::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.features-image {
  display: block;
  width: 800px;
}

.features-item-lt-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-title {
  padding: 103px 112px 62px;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-description {
  padding: 0 85px 121px;
  margin: 0;
  color: #333333;
}

.features-title-white {
  color: #ffffff;
}

.features-description-white {
  color: #ffffff;
}

.features-item-blue {
  background-color: #82B3D3;
}

.features-item-blue .features-title {
  padding-top: 92px;
}

.features-item-blue .features-description {
  padding-bottom: 110px;
}

.features-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-icon-housing {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/icons/hero-housing.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 80px;
  background-size: 75px 72px;
}

.features-item-icon-housing .features-title,
.features-item-icon-food .features-title,
.features-item-icon-souvenir .features-title {
  padding: 182px 82px 30px;
}

.features-item-icon-housing .features-description,
.features-item-icon-food .features-description,
.features-item-icon-souvenir .features-description {
  padding-bottom: 81px;
}

.features-item-icon-food {
  background-image: url("../images/icons/hero-food.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 80px;
  background-size: 74px 70px;
}

.features-item-icon-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/icons/hero-souvenir.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 80px;
  background-size: 64px 76px;
}

.hotel-search {
  text-align: center;
  padding: 96px 304px;
  margin: 0;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

/* Подписка и футер */

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.newsletter {
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-bg {
  background-image: url("../images/bg-index-sub.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #505050;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-description-catalog {
  color: #333333;
}

.newsletter-form .field {
  box-sizing: border-box;
  float: left;
  width: 452px;
  height: 52px;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-button {
  float: right;
  width: 232px;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.newsletter-wrapper {
  margin-bottom: 104px;
}

.newsletter-button:focus,
.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  width: 1200px;
  display: flex;
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 74px;
  min-width: 142px;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 44px;
  position: relative;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone:focus,
.footer-phone:hover {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-phone-wrapper {
  text-align: center;
  width: 720px;
}

.footer-htmlacademy-link {
  width: 115px;
  margin-right: 70px;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #83B3D3;
}

.button:focus > .footer-icon {
  color: #68A2CA;
}

.footer-icon:hover {
  color: #68A2CA;
}

.button:active > .footer-icon {
  color: rgba(104, 162, 202, 0.3);
}

.footer-htmlacademy-logo {
  color: #000000;
}

.footer-htmlacademy-link:focus > .footer-htmlacademy-logo {
  color: #756157;
}
.footer-htmlacademy-logo:hover {
  color: #756157;
}

.footer-htmlacademy-link:active > .footer-htmlacademy-logo {
  color: rgba(117, 97, 87, 0.3);
}

/* модальное окно */

.modal-container {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  width: 578px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button::before {
  content: "";
  background-image: url("../images/icons/bt-cross-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.modal-close-button:active::before {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  padding: 0;
  padding-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  position: relative;
}

.field-group .field {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 400px;
  height: 24px;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  background-color: #F2F2F2;
}

.field-group::after {
  content: "";
  background-image: url("../images/icons/modal-calendar.svg");
  background-repeat: no-repeat;
  background-size: 16px 15px;
  position: absolute;
  opacity: 0.3;
  top: 16px;
  bottom: 0;
  left: 539px;
  right: 0;
}

.modal-form {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.field-group .field:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.field-group .field:hover {
  background-color: #E6E6E6;
}

.field-group .field:active {
  outline: 2px solid #000000;
}

.modal-text {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-left: 157px;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.modal-text-error {
  color: #FF5757;
}

.field-box,
.field-number {
  background-color: #f2f2f2;
  border-radius: 4px;
}

.field-group-count {
  display: flex;
  align-items: baseline;
}

.field-box {
  display: flex;
  margin-bottom: 48px;
  margin-right: 88px;
}

.field-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 48px;
  border-radius: 4px;
  color: rgba(117, 97, 87, 0.3);
  border: none;
  cursor: pointer;
}

.button-plus {
  padding: 3px;
}

.button-minus {
  padding: 9px 3px;
}

.field-button:hover {
  color: #000000;
}

.field-button:focus > .button-minus,
.field-button:focus > .button-plus {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.field-button:focus {
  outline: none;
}

.field-number {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 31px;
  height: 48px;
  border: none;
}

.button-modal-search {
  padding: 18px 0;
  width: 577px;
  background-color: #83B3D3;
}

.button-modal-search:focus,
.button-modal-search:hover {
  background-color: #68A2CA;
}

.button-modal-search:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.field-number::-webkit-inner-spin-button,
.field-number::-webkit-outer-spin-button {
  display: none;
}

.adult-form {
  margin-right: 46px;
}

.child-form {
  width: 49px;
  margin-right: 82px;
  position: relative;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
  border-radius: 50%;
  border: none;
  background-image: url("../images/icons/modal-tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  position: absolute;
  right: -33px;
  top: 0;
}

.tooltip-text::before {
  content:'';
  background-image: url("../images/icons/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  top: 40px;
  left: -115px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

/* каталог */

/* внутренний хедер и фильтрация */

.index-columns {
  padding-top: 35px;
  background-image: url("../images/bg-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #505050;
  color: #ffffff;
}

.header-inner-title {
  margin: 0;
  padding: 0 70px 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* хлебные крошки */

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon-home {
  background-image: url("../images/icons/bc-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  padding-left: 12px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  background-image: url("../images/icons/bc-arrow.svg");
  margin-left: 11px;
  top: 6px;
  width: 7px;
  height: 10px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* блок фильтров поиска */

.catalog-filter {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
  width: 150px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  margin-bottom: 16px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;

}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active {
  opacity: 0.3;
}

input[type="radio"]:disabled + label  {
  opacity: 0.2;
  cursor: default;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/control-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
}

/* range-слайдер */

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin: 0;
  padding: 0;
  margin-bottom: 78px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  position: relative;
}

.range-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  margin-right: 2px;
  margin-bottom: 36px;
  border: none;
  appearance: textfield;
}

.range-input:focus {
  outline: 3px solid #83B3D3;
}

.range-input:active {
  outline: 2px solid #000000;
}

.range-text {
  font: inherit;
  padding: 12px 20px;
  text-align: right;
  position: absolute;
  color: #000000;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* кнопки применения и сброса настроек сортировки */

.button-catalog-apply {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  margin-top: 56px;
  margin-bottom: 36px;
  background-color: #82B3D3;
}

.button-catalog-apply:focus,
.button-catalog-apply:hover {
  background-color: #68A2CA;
}

.button-catalog-reset {
  padding: 8px 57px;
  background: none;
}

.button-catalog-reset:hover {
  background: none;
  color: rgba(255, 255, 255, 0.5);
}

.button-catalog-reset:active {
  background: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-catalog-reset:focus {
  background: none;
  border: 3px solid #83B3D3;
  padding: 5px 54px;
  outline: none;
}

.button-catalog-reset:disabled {
  background: none;
  color: rgba(255, 255, 255, 0.1);
}

/* блок результатов поиска */

.sorting-type {
  margin-right: auto;
}

.catalog-hotel-bottom {
  padding: 0 70px;
}

.hotel-display {
  display: flex;
  align-items: center;
  padding: 50px 0 40px;
}

.hotel-display .button {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-display .button-selected {
  border: 2px solid #000000;
}

.hotel-display .button:focus {
  outline: 2px solid #68A2CA;;
}

.hotel-display .button:hover,
.hotel-display .button:active {
  border: 2px solid #000000;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: auto;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
  outline: none;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control:disabled {
  color: #000000;
  border-color: #000000;
  opacity: 0.3;
}

.hotel-count,
.hotel-count-number {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotel-card-display {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-tile {
  background-image: url("../images/icons/view-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-slideshow {
  background-image: url("../images/icons/view-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-list {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.hotel-card-display-item:not(:last-child) {
  margin-right: 8px;
}

.hotel-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotel-card-type {
  grid-column: 1 / 2;
}

.hotel-card-price {
  justify-self: end;
  grid-column: 2 / 3;
}

.button-about {
  padding: 8px 26px;
  grid-column: 1 / 2;
}

.hotel-card-image {
  display: block;
}

.hotel-card-link {
  grid-column: 1 / -1;
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
  margin-top: 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.favorite {
  padding: 8px 20px;
  grid-column: 2 / 3;
  background-color: #82B3D3;
}

.favorite:focus,
.favorite:hover {
  background-color: #68A2CA;
}

.hotel-card-stars {
  grid-column: 1 / 2;
}

.hotel-card-stars-1 {
  background-image: url("../images/icons/card-star.svg");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: space no-repeat;
  padding: 10px 6px 10px 0;
  width: 20px;
}

.hotel-card-stars-2 {
  background-image: url("../images/icons/card-star.svg");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: space no-repeat;
  padding: 10px 6px 10px 0;
  width: 40px;
}

.hotel-card-stars-3 {
  background-image: url("../images/icons/card-star.svg");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: space no-repeat;
  padding: 10px 6px 10px 0;
  width: 60px;
}

.hotel-card-stars-4 {
  background-image: url("../images/icons/card-star.svg");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: space no-repeat;
  padding: 10px 6px 10px 0;
  width: 80px;
}

.hotel-card-stars-5 {
  background-image: url("../images/icons/card-star.svg");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: space no-repeat;
  padding: 10px 6px 10px 0;
  width: 90px;
}

.favorite-added {
  padding: 8px 18px;
  background-color: #7DB54F;
}

.favorite-added:focus,
.favorite-added:hover {
  background-color: #6C9E42;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 22px;
  grid-column: 2 / 3;
  background-color: #F2F2F2;
  color: #333333;
  border-radius: 4px;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 40px 0 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:focus,
.pagination-link:hover {
  background-color: #68A2CA;;
  box-shadow: inset 0 0 0 1px #82B3D3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:focus,
.pagination-current:hover,
.pagination-current:active {
  box-shadow: none;
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-all {
  color: #000000;
  background: none;
}

.pagination-all:focus,
.pagination-all:hover,
.pagination-all:active {
  box-shadow: none;
  color: #000000;
  background: none;
}
